@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
/* ========Font=========== */
body{
    /* background-color: #F4EEFF; */
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ),linear-gradient( #444cf755, #444cf7 );
    background-repeat: no-repeat;
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: #424874;
    color: white;
    user-select: none;
}
.nav i{
    font-size: 50px;
    box-shadow: 2px 2px black;
    margin-right: 15px;
}
.nav h1{

    font-family: 'Mynerve', cursive;
    text-shadow: 2px 2px black;
}


/* Input Fields */
.inpName,.inpOrder,.inpTable,.addBtn{
    box-shadow: 1px 1px  0px black;
}


/* Form */
.form_container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    user-select: none;
}

/* Section Table */
.table_section{
    margin-top: 100px;
}




/* Tables */
.table_container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    box-shadow: 9px 9px 20px 0px black;
}
.tabname{
    text-align: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
.tab1{
    border-right: 2px solid black;
    box-shadow: 2px 2px 5px 0px black;
    background-color: white;
    user-select: none;
}
.tab2{
    border-left:2px solid black;
    border-right: 2px solid black;
    box-shadow: 2px 2px 5px 0px black;
    background-color: white;
    user-select: none;
}
.tab3{
    border-left:2px solid black;
    background-color: white;
    user-select: none;
}
.user{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 5px;
    
}
.user p{
    margin: 0;
    padding: 0;
}
.del{
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
}